name: GitHub Actions
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
       - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

     - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: go mod tidy

      - name: Build
        run: go build ./...

      - name: Run tests
        run: go test ./...

      - name: Test Repo Clone
        run: |
          git clone https://github.com/srz-zumix/iutest.git iutestA
          git clone https://github.com/srz-zumix/iutest.git iutestB
          git clone https://github.com/srz-zumix/iutest.git iutestC
      
      - name: Setup git set file times (origin)
        run: |
          git clone https://gist.github.com/642fff6acb79b7a587fb3bce7ee1c9ef.git git-set-file-times-org
          chmod +x ./git-set-file-times-org/git-set-file-times

      - name: Git set file times (origin)
        working-directory: iutestA
        run: |
          time ../git-set-file-times-org/git-set-file-times

      - name: Setup git set file times
        run: |
          perl -v
          git clone https://gist.github.com/0a526e8f9182549cbdb6d880a4477ff0.git git-set-file-times
          chmod +x ./git-set-file-times/git-set-file-times

      - name: Git set file times    
        working-directory: iutestB
        run: |
          time ../git-set-file-times/git-set-file-times

      - name: Git use commit times
        working-directory: iutestC
        run: |
          time ../git-use-commit-times

      - name: Compare A/B
        run: ./tests/mtime-compare.sh iutestA iutestB
        
      - name: Compare A/C
        run: ./tests/mtime-compare.sh iutestA iutestC

