name: release
on:
  push:
    tags:
      - "v*"
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      publish:
        default: false
        type: boolean
    secrets:
      APP_ID:
        required: true
      APP_PRIVATE_KEY:
        required: true
        
permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    env:
      GORELEASER_CURRENT_TAG: ${{ inputs.ref || github.ref }}
      GH_TOKEN: ${{ github.token }}
    environment:
      name: homebrew-tap
    steps:
      - uses: actions/create-github-app-token@v2
        id: generate
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          permission-contents: write
          repositories: |
            homebrew-tap

      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Create tag
        run: |
          git tag "${GORELEASER_CURRENT_TAG}" 2>/dev/null || true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: '~> v2'
          args: release --clean --draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APP_TOKEN: ${{ steps.generate.outputs.token }}

      - name: Publish
        if: inputs.publish
        run: gh release edit --draft=false "${GORELEASER_CURRENT_TAG}"

